body{
  background-color: aquamarine;
}

div{
  height: 70px;
  width: 500px;
  margin: 20px auto 20px auto;
  font-size: 40px;
  text-align: center;
}

p{
  border: 5px solid #8d89d9;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

input, select{
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
}